requests==2.32.4
pyscard==2.3.0
pycryptodome==3.23.0
pywin32==311
flet==0.28.3
bleak==1.1.0
wmi==1.5.1
opencv-python==4.12.0.88
numpy==2.2.6
pillow==11.3.0
setuptools==81.0.0
insightface==1.0.1
onnxruntime==1.22.0
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Media.Capture==3.2.1
winrt-Windows.Media.Capture.Frames==3.2.1
winrt-Windows.Media.MediaProperties==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Storage.Streams==3.2.1